@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global start */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
  cursor: default;
}
/* Global end */

/* Commons start */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.text-blue {
  color: #0d47a1;
}
/* Commons end */

/* Header start */
header {
  border-bottom: 1px solid #e1f5fe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo:hover {
  color: #1565c0;
}

nav {
  padding: 1rem 0;
}

.nav-item {
  text-decoration: none;
  color: #1565c0;
  padding: 0 4rem;
}

.nav-item:hover {
  text-decoration: underline;
  color: #0d47a1;
}
/* Header stop */

/* Home start */
.hero {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero-content {
  padding: 4rem 2rem;
  background-color: #e9f1fa;
  border-radius: 10px;
}

.hero-description {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-button {
  padding: 0.7rem 1.2rem;
  font-size: 1.2rem;
  color: white;
  background-color: #00abe4;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #0292c2;
}
/* Home end */

/* Random Advice start */
.advice {
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
  color: #0d47a1;
  cursor: default;
}

.random-advice-button {
  padding: 0.7rem 1.2rem;
  font-size: 1.2rem;
  color: white;
  background-color: #00abe4;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}

.random-advice-button:hover {
  background-color: #0292c2;
}
/* Random Advice end */

/* Categories start */
.categories-table {
  border-collapse: collapse;
  margin-top: 1rem;
}

.categories-table thead {
  cursor: default;
}

.categories-table th,
.categories-table td {
  border: 1px solid #ddd;
  padding: 0.8rem 1rem;
  text-align: left;
}

.categories-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.categories-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.categories-table tr:hover {
  background-color: #f1f1f1;
}
/* Categories end */
