* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f9f9;
  color: #333333;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #5d91c5;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

nav {
  padding: 1rem 5rem;
}

.nav-item {
  text-decoration: none;
  color: #333333;
  padding: 0 1rem;
}

.nav-item:hover {
  text-decoration: underline;
  color: #4d4d4d;
}

.logo a {
  text-decoration: none;
  color: #333333;
  font-size: 1.5rem;
  font-weight: bold;
}

.home-container {
  display: flex;
  justify-content: end;
}
